@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 20px;
  padding: 0;
  color: rgb(231, 231, 231);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.7)), url('/asset/Kins2.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  height: 100vh; 
}

.header {
  margin: 0; 
  padding: 0; 
  font-size: 16px;
}

.cat-img {
  float: left;
  margin: 10px;
  width: 10%;
}

.header-text {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  word-spacing: 3px; 
  letter-spacing: 10px; 
  padding-top: 90px;
  margin-bottom: 0;
}

.catsData {
  float: left;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  // grid-template-rows: auto;
  grid-gap: 20px;
  overflow: hidden;
  
  & .card-img {
    width: 100%;
    margin: 10px;
  }

  & h3 {
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.navigation {
  font-size: 25px;
}

.home {
  margin-left: 70%;
}

.home,
.cats {
  float: center;
  color: rgb(231, 231, 231);
  text-decoration: none;
  margin-right: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.home:hover,
.cats:hover {
  color: rgb(248, 248, 248);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(248, 248, 248);
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 10px;
  word-spacing: 8px;
  text-align: center;
  padding-top: 30%;
  opacity: 0.9;
}

.spinner {
  display: block;
}

.spinner.spinning {
  display: none;
}