@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 20px;
  padding: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 15px;
}